@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;


}
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}


div .contentBx,
div .content
{
  padding: 100px;
  min-height: 100vh;
   height: 100%;
}
.banner
{
  position: relative;
width: 100%;
}
 .imgsidebar
{
  position: relative;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
}
 .banner .imgsidebar img
{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .contentBx,
.sidebar 
{
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.logotext
{
  position: absolute;
  top: 40px;
  left: 100px;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #333;
  color: #fff;
  padding: 0 5px;
}
 .banner .contentBx h4
{
  font-size: 1.5em;
  color: #333;
  font-weight: 300;
}
.banner .contentBx h4 span
{
  color: #00bcd4;
  font-size: 1.5em;
  font-weight: 700;
}
.banner .contentBx h2
{
  font-size: 3em;
  color: #333;
  line-height: 1em;
}
.banner p{
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 300;
}
.brn
{
background: #00bcd4;
color: #fff;
padding: 10px 30px;
display: inline-block ;
text-decoration: none;
font-weight: 500;
letter-spacing: 2px;
}
.sidebar 
{
  position: fixed;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  padding: 40px;
  z-index: 100;
  right: -100%;

}

.sci 
{
  position: absolute;
  left: 100px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sci li
{
  margin-right: 10px;
  list-style: none;
}
.sci li img
{
  transform: scale(0.5);
  opacity: 0.7;
}
.sci li img:hover
{
  transform: scale(1.0);
  opacity: 1;
}
.title
{
  width: 100%;
  text-align: center;
  

}
.title h2{
  position: relative;
  color: #00bcd4;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1px;
}
.title p
{
 color: #00bcd4;
  max-width: 700px;
  display: inline-block;

}
.title h2::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -10px;
  width: 60px;
  height: 4px;
  background: #000;
}
.title.white h2,
.title.white p,

{
  color: #fff;
}
.title.white h2::before
{
  background: #fff;
}
.about
{
  background: #000;;
}
.about .content
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about .content .textbx
{
  min-width: 40%;
  width: 40%;
}
.about .content .textbx p
{
  color: #fff;
}
.about .content .imgbx
{
  margin-left: 40px;
}
.about .content .imgbx img
{
  max-width: 100%;
}
.skills .content
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills .content .skillbx
{
  padding: 40px 20px;
  max-width: 340px;
  margin: 20px;
  transition: 0.5s;
  text-align: center;
  background: #f5f5f5;
   color: #000;
}
.skills .content .skillbx:hover
{
  background: #000;
}
.skills .content .skillbx img
{
  max-width: 80px;
  transition: 0.5s;
}
.skills .content .skillbx:hover img
{
  filter:invert(1);
}
.skills .content .skillbx h2
{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;

}
.skills .content .skillbx:hover h1
{
  color: #fff;
}
.skills .content .skillbx p
{
  margin: 0;
  transition: 0.5s;
}
.skills .content .skillbx:hover p
{
  color: #fff;
}
.projects .content
{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.projects .content .projectbx
{
  position: relative;
  width: 265px;
  height: 265px;
  margin: 10px;
  transition: 0.5x;
  text-align: center;
}
.projects .content .projectbx .imgbx,
.projects .content .projectbx .textbx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.projects .content .projectbx .imgbx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  object-fit: cover;

}
.projects .content .projectbx .textbx
{
  background: #000;
  opacity: 0;
  transition: 0.5s;
}
.projects .content .projectbx:hover .textbx
{
  opacity: 1;
}
.projects .content .projectbx .textbx h3
{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;

}
.contact
{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

@media(max-width: 991px)
{
  .banner .imgsidebar
  {
    display: none;
  }
  .banner .contentBx, .sidebar
  {
  	width: 100%;
  	padding: 40px;
  }
  .logotext 
  {
    left: 40px;
   }
   .toggle 
   {
    right: 40px;
    }
    .sci 
    {
    left: 40px;
    }
    section 
    {
    padding: 40px;
    }
    .about .content 
    {
    flex-direction: column;
    }
    .about .content .textbx 
    {
    width: 100%;
    }
    .about .content 
    {
    margin-top: 0px;
    }
    .about .content .imgbx 
    {
    margin-left: 0px;
    }
    .skills .content .skillbx 
    {
    padding: 30px 20px;
    max-width: 340px;
    margin: 10px;
    }
    .sidebar ul li a 
    {
    font-size: 1.5em;
    }
    
 }  
 
 @media (max-width: 500px) 
 {
    .skills .content .skillbx,
    .projects .content .projectbx 
    {
    padding: 30px 20px;
    max-width: 100%;
    width: 100%;
    margin: 10px 0;
    }
 
 }


body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}



